<html>
<head>
<style>
/*body { background-color: linen; }*/
h1 { color: maroon; margin-left: 40px; } 
table { border-collapse: collapse; }
th { background-color: #4CAF50; color: white; }

table, th, td { border: 1px solid black; vertical-align: top; }
/*tr:hover {background-color: #f5f5f5}*/
tr:nth-child(even) {background-color: #f2f2f2}

</style>
</head>

Handlebars.registerHelper('expand_spell', function(options) {
  return options.fn(this);
});

<form action="/search" method="get">
  <select name="region">
    <option value="na" selected>NA</option>
    <option value="br">BR</option>
    <option value="eune">EUNE</option>
    <option value="euw">EUW</option>
    <option value="kr">KR</option>
    <option value="lan">LAN</option>
    <option value="las">LAS</option>
    <option value="oce">OCE</option>
    <option value="tr">TR</option>
    <option value="ru">RU</option>
  </select>
  <input type="text" id="summoner" name="summoner" placeholder="Summoner Name">
</form>
<ul>
  {{info.name}}

  <table class="table table-striped" style="width:100%">
    <thead>
    <tr>
      <th>Team<br>Summoner<br>Champ</th>
      <th>Passive</th>
      <th>Q</th>
      <th>E</th>
      <th>W</th>
      <th>R</th>
    </tr>
  	{{#each info.participants}}
  	<tr>
      <td>{{teamId}}<br>{{summName}}<br>{{championInfo.name}}</td>
      <td> {{championInfo.passive.name}}<p>{{{championInfo.passive.description}}}</td>
        {{#each championInfo.spells}}
          <td> cost: {{costBurn}}<br>cooldown: {{cooldownBurn}}</p>{{name}}</p>{{#expand_spell}}{{{tooltip}}}{{/expand_spell}}</td>
        {{/each}}

    </tr>
  	{{/each}}

  </table>

</ul>
</html>
