
<form action="/search" method="get">
  <select name="region">
    <option value="na" selected>NA</option>
    <option value="br">BR</option>
    <option value="eune">EUNE</option>
    <option value="euw">EUW</option>
    <option value="kr">KR</option>
    <option value="lan">LAN</option>
    <option value="las">LAS</option>
    <option value="oce">OCE</option>
    <option value="tr">TR</option>
    <option value="ru">RU</option>
  </select>
  <input type="text" id="summoner" name="summoner" placeholder="Summoner Name">
</form>
<ul>
  {{info.name}}

  <table class="table table-striped" border="1" style="width:100%">
    <thead>
    <tr>
      <th>Team</th>
      <th>Summoner</th>
      <th>Champ</th>
      <th>Passive</th>
      <th>Q</th>
      <th>E</th>
      <th>W</th>
      <th>R</th>
    </tr>
  	{{#each info.participants}}
  	<tr>
      <td>{{teamId}}</td>
      <td>{{summName}}</td>
      <td> {{championInfo.name}}</td>
      <td> {{championInfo.passive.name}}<br>{{{championInfo.passive.description}}}</td>
        {{#each championInfo.spells}}
          <td> cost: {{costBurn}} cooldown: {{cooldownBurn}}</p>{{name}}</p>{{{tooltip}}}</td>
        {{/each}}

    </tr>
  	{{/each}}

  </table>

</ul>
