<html>
<head>
<style>
/*body { background-color: linen; }*/
h1 { color: maroon; margin-left: 40px; }
table { border-collapse: collapse; }
th { background-color: #4CAF50; color: white; }

table, th, td { border: 1px solid black; vertical-align: top; }
/*tr:hover {background-color: #f5f5f5}*/
tr:nth-child(even) {background-color: #f2f2f2}

/*
Handlebars.registerHelper('expand_spell', function(options) {
  return options.fn(this);
});
*/

</style>
</head>


<form action="/search" method="get">
  <select name="region">
    <option value="na1" selected>NA</option>
    <option value="br1">BR</option>
    <option value="eun1">EUNE</option>
    <option value="euw1">EUW</option>
    <option value="kr">KR</option>
    <option value="la1">LAN</option>
    <option value="la2">LAS</option>
    <option value="oc1">OCE</option>
    <option value="tr1">TR</option>
    <option value="ru">RU</option>
  </select>
  <input type="text" id="summoner" name="summoner" placeholder="Summoner Name">
</form>
<ul>
  {{info.name}}
  <table class="table table-striped" style="width:100%">
    <thead>
    <tr>
      <th>Summoner Champ</th>
      <th>Passive</th>
      <th>Q</th>
      <th>E</th>
      <th>W</th>
      <th>R</th>
    </tr>
{{#each info.participants}}
	<tr>
{{!-- Summoner Block --}}
  {{#if teamId }}
    <td bgcolor="LightSkyBlue">
  {{else}}
    <td bgcolor="IndianRed">
  {{/if}}
    {{summonerName}}<br />{{championInfo.name}}
    <img src=http://ddragon.leagueoflegends.com/cdn/{{../info.lol_patch}}/img/champion/{{championInfo.image.full}}><br>
  </td>
{{!-- Summoner Block --}}

{{!-- Champ Pic here --}}

{{!-- Passive Block --}}
      <td>
        {{championInfo.passive.name}}<p>
        <img src=http://ddragon.leagueoflegends.com/cdn/{{../info.lol_patch}}/img/passive/{{championInfo.passive.image.full}}><br>
        {{{championInfo.passive.description}}}
      </td>
{{!-- Passive Block --}}

{{!-- Spells Block -- TODO: Handle multiple forms --}}
      {{#each championInfo.spells}}
        <td>{{name}}</p>
          <img src=http://ddragon.leagueoflegends.com/cdn/{{../../info.lol_patch}}/img/spell/{{image.full}}><br>
          cooldown: {{cooldownBurn}}<br>cost: {{costBurn}}<br>range: {{rangeBurn}}</p>{{{description}}}
        </td>
      {{/each}}
{{!-- /Spells Block --}}
    </tr>
  	{{/each}}

  </table>

</ul>
</html>
